.upload-btn {
  max-width: 100%;
  white-space: normal !important;
  text-transform: none;
  margin-right: 5px;
  margin-bottom: 5px;
}

.radio-inline,
.checkbox-inline {
  margin-left: 0 !important;
  &:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: block;
  }
}

.my-portals-table {
  width: 100%;
  table-layout: fixed;
  th, td {
    &:first-child {
      width: 40px;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
    &:last-child {
      width: 55px;
    }
  }
  td {
    word-wrap: break-word;
  }
  .portal-link {
    padding-right: 0;
  }
}

@media (max-width: 540px) {
  .table-lessons {
    position: relative;
    td:not(:last-child) {
      padding-bottom: 45px;
    }
    td:last-child {
      padding: 0;
      .icons-list {
        display: block;
        position: absolute;
        left: 20px;
        transform: translateY(7px);
        border: 0;
      }
    }
  }
}
